<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="m-[5rem]">
      <h1 class="text-4xl text-red-500 text-center font-bold">
        Members Only Forum
      </h1>
    </div>
  </body>
</html>
